
.dx-swatch-additional .dx-toolbar .dx-toolbar-before {
    padding-left: 15px;
}

.dx-button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_settings{
    position: absolute;
    top: 0;
    right: 0;
}

#button_settings:hover {
    right: 0;
    transition: right .5s ease;
}
